@page "/show"

@if (!string.IsNullOrEmpty(imageEncodedURL))
{
    <div class="alert alert-success">
        <label for="password">Mật khẩu:</label><br />
        <input type="text" id="password" @bind="password" class="form-control">
        <hr />
        <button class="btn btn-primary" @onclick="OnClickGetHiddenMessage">Lấy thông điệp</button>

        @if (!string.IsNullOrEmpty(hiddenMessage))
        {
            <hr />
            <b><i>Thông điệp:</i></b> <span style="color:red">@hiddenMessage</span>
        }
    </div>
}

<div class="alert alert-info">
    <label for="image">Hình ảnh:</label><br />
    <InputFile id="image" OnChange="@OnFileChangedAsync" accept="image/*" />
    @if (!string.IsNullOrEmpty(imageEncodedURL))
    {
        <hr />
        <img src="@imageEncodedURL" />
    }
</div>

@code {

}
